:root {
  --FontHeader: Merriweather, "Times New Roman", Times, serif;
  --fontheader-size: 40px;
  --FontContent: InterLight, Arial, Helvetica, sans-serif;
  --fontcontent-size: 18px;
  --imgFont-size: 10px;
  --LinkColor: rgba(115, 135, 188, 1);
  --LinkColorVisited: rgba(233, 133, 197, 1);
  --FontHeaderDetails-Size: 25px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #333;
  margin: 0;
  color: #ddd;
  font-family: var(--FontHeader);
}
p {
  font-family: var(--FontContent);
  font-size: var(--fontcontent-size);
  max-width: 45ch;
  text-align: justify;
  z-index: 0;
}
h1 {
  font-size: var(--fontheader-size);
  font-family: var(--FontHeader);
}
a {
  color: #555;
  font-weight: 600;
  color: var(--LinkColor);
  text-decoration: none;
}
a:visited {
  color: var(--LinkColorVisited);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 2;
}
.nav {
  flex-grow: 1;
  z-index: 2;
}
.nav_list {
  margin: 0;
  display: flex;
  list-style: none;
  background: #ddd;
  transition: 0.3s;
}
.nav_list a:nth-child(1) {
  margin-left: auto;
}
.nav_list a:nth-child(4) {
  color: rgba(115, 135, 188, 1);
  margin-left: auto;
}
.nav_list a:nth-child(5) {
  color: rgba(233, 133, 197, 1);
}
.nav_list a:nth-child(5):hover {
  background-color: #ddd;
  color: rgba(115, 135, 188, 1);
}
.nav_list a {
  position: relative;
  padding: 17px;
  color: #333;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.15s;
}
.nav_list a:hover {
  background-color: #333;
  color: #ddd;
}
.anchor {
  position: absolute;
  transform: translateY(-20vh);
}
#nav-language {
  position: relative;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  width: 50px;
  height: 15px;
  top: 11px;
  transition: 0.3s;
}

#nav-language a {
  background-color: transparent;
  color: rgba(233, 133, 197, 1);
}
#nav-language a:hover {
  background-color: transparent;
  color: rgba(115, 135, 188, 1);
}
#nav-language a {
  padding: 5px;
  margin: 5px;
}
/* 
hero picture and text 
*/
.Hero-Landing {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: linear-gradient(
    35deg,
    rgba(115, 135, 188, 0.6),
    rgba(233, 133, 197, 0.4)
  );
  transition: 0.3s;
}
.Hero-Landing h1 {
  font-size: 75px;
}
.Hero-Text {
  position: absolute;
  width: 100%;
  top: 25%;
}
/* main content */
article {
  margin: auto;
  width: 80%;
  max-width: 80%;
  margin-top: 50px;
  /*background-color: #ddd;*/
  /* box-shadow: 0 0 7px 1px rgba(115, 135, 188, 0.6); */
}
article h2 {
  text-align: center;
}
section {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
  color: #333;
  background-color: #ddd;
}

.main-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.polaroid {
  font-weight: 600;
  width: 250px;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 3px 5px 5px rgba(31, 31, 31, 0.2);
  text-transform: uppercase;
  font-size: 11px;
  z-index: 1;
}
.polaroid p {
  font-size: var(--imgFont-size);
}
/* 
Main content 
*/
.content-text {
  width: 100%;
  margin: auto;
}
.content-text h1 {
  font-family: var(--FontHeader);
  font-size: var(--fontheader-size);
  text-align: center;
}
.content-container {
  text-align: justify;
  font-weight: 100;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
}

#left {
  width: 50%;
  padding: 0;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#left span {
  position: relative;
  margin-left: auto;
  display: inline-block;
}
#right {
  position: relative;
  float: right;
  max-width: 35vw;
  height: 110vh;
  background-color: #fff;
  margin-right: auto;
  padding: 15px;
  margin: 15px;
  box-shadow: 2px 3px 5px 5px rgba(31, 31, 31, 0.2);
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  /* right:2vw; */
}
#right > * {
  margin: 10px;
}
#resizer {
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  left: -30px;
  padding: 10px;
  background-color: #aaa;
  border-radius: 3px;
  z-index: 0;
  cursor: pointer;
}
/* 
email Form 
*/
.form-button {
  background-color: transparent;
  color: #ddd;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
  width: 70px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #ddd;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 5px 3px rgba(221, 221, 221, 0.2);
  /* background: linear-gradient(35deg, rgba(115,135,188,0.6), rgba(233,133,197,0.4)); */
}
.contact-input {
  font-family: var(--FontHeader);
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
  color: #ddd;
  border: none;
  border-bottom: solid 1px #ddd;
  width: 90%;
  text-align: center;
  max-width: 40ch;
}
.contact-input:hover {
  box-shadow: 1px 1px 5px 3px rgba(221, 221, 221, 0.2);
  border-radius: 2px;
  border: 1px solid;
  padding: 4.5px;
}
.contact-input:focus {
  background-color: #aaa;
  color: #333;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 3px rgba(221, 221, 221, 0.2);
}
.contact-textarea {
  font-family: var(--FontHeader);
  background-color: transparent;
  margin: auto;
  padding: 10px;
  color: #ddd;
  width: 100%;
  resize: none;
  font-size: 14px;
  width: 450px;
  height: 15em;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /* border:1px solid #ddd; */
}
.contact-textarea:hover {
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 3px rgba(221, 221, 221, 0.2);
}
.contact-textarea:focus {
  background-color: #aaa;
  color: #333;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 3px rgba(221, 221, 221, 0.2);
}
#mail {
  text-align: center;
  transition: 0.3s;
}
/* 
footer 
*/
footer {
  background-color: #ddd;
  color: #333;
  padding: 25px;
  text-align: center;
}
footer p {
  font-size: 14px;
}
.footer-content {
  width: 50%;
  margin: auto;
}
.main-content {
  margin: auto;
  color: #333;
  transition: 0.3s;
}
/*
social media links
*/
.social-media-link {
  color: #333;
  font-family: var(--FontContent);
}
.social-media-link a {
  text-decoration: none;
  margin: 20px;
}
#git {
  position: relative;
  top: 8px;
}
#git:hover {
  filter: invert(0.7);
}
#linkedIn-text {
  background-color: #333;
  color: #ccc;
  border-radius: 2px;
  margin: 2px;
  font-size: 18px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
#linked:visited {
  color: #333;
}
#linked:hover > #linkedIn-text {
  background-color: #ccc;
  /* background-color:rgba(115, 135, 188, 1); */
  color: #333;
}
/* 
Projects 
*/
#MyProjects {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #333;
  display: flexbox;
}
.Projects {
  border-radius: 2px;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s;
  width: 250px;
  height: 270px;
  background-color: white;
  box-shadow: 2px 3px 5px 5px rgba(31, 31, 31, 0.2);
}
.Projects:hover {
  box-shadow: 0 0 0 5px rgba(115, 135, 188, 0.6);
}
.Projects:hover img {
  filter: brightness(1.1);
}
.Projects p {
  text-align: center;
  transform: translateY(25px);
  margin: auto;
  margin-top: 40px;
  text-transform: uppercase;
  font-family: var(--FontContent);
  font-size: 14px;
  font-weight: 600;
  height: 0px;
}
.Project-Body {
  float: left;
}
.Project-Body img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/*
details container
*/
.details-content-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}
.details-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.9);
  /* min-width: 475px; */
  /* max-height: 600px; */
  padding: 0 20px 0 20px;
  z-index: 5;
  overflow: hidden;
}
.details-container-picture {
  padding: 0%;
  margin: 0%;
  grid-row: 0;
  grid-column: 0;
  width: 50%;
}
.details-image {
  position: relative;
  /* left: 50px; */
  margin-left: 10%;
  width: 90%;
  max-width: 700px;
  height: auto;
  z-index: 5;
  padding: 10px;
}
.details-text {
  /* position: relative; */
  grid-row: 0;
  grid-column: 1;
  flex-grow: 1;
  max-width: 45ch;
  min-height: 400px;
  z-index: 5;
  color: #ccc;
  /* margin: auto; */
  float: right;
  padding: 20px;
}
.details-text a {
  text-decoration: dotted;
  color: #aaf;
  font-weight: 600;
}
.details-text a:visited {
  color: #aaf;
}
.details-text ul {
  list-style-type: none;
}
.details-text h1 {
  font-size: var(--FontHeaderDetails-Size);
}
.details-visit-button {
  border: none;
  padding-bottom: 2px;
  background-color: transparent;
  color: #aaf;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--FontContent);
  cursor: pointer;
}
.details-visit-button:hover {
  border-bottom: #aaf solid 1px;
}
/* 
.info{
  cursor:help;
} */

/*infoboxes*/
.tech {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.tech-img {
  width: 150px;
  height: 150px;
}
#sql {
  transform: scale(0.9);
}
#htmlImg {
  position: relative;
  top: 10px;
  transform: scale(0.8);
}
#closer {
  position: relative;
  font-size: var(--fontheader-size);
  cursor: pointer;
  color: #ccc;
  margin-left: auto;
  text-align: right;
  width: 50px;
  right: 5vw;
}

/*media querys*/
@media only screen and (max-width: 480px) {
  article {
    width: 100%;
  }
  p {
    padding: 20px;
  }
  #mail {
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
  .contact-textarea {
    max-width: 400px;
    margin: auto;
  }
  .details-image {
    width: 350px;
    height: auto;
    z-index: 5;
    margin: auto;
    padding: 10px;
  }
  .Hero-Landing {
    height: 736px;
  }
}
